            //######################################
            //
            //  bp_seq_seek
            //
            //######################################
            withLabel: bp_seq_seek {
                container = "${params.nf_home}/singularity_img/rbase_v4.1.0.2.sif"
                cpus = 2
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {32.GB * task.attempt}
                time = "24h"
            }
            withLabel: get_aa_bp {
                container = "${params.nf_home}/singularity_img/pythonforbp_v1.4.sif"
                cpus = 2
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {32.GB * task.attempt}
                time = "24h"
            }
