            //######################################
            //
            //  bp_seq_seek
            //
            //######################################
            withLabel: bp_seq_seek {
                // already exist in '/mnt/storage/singularity_img'
                container = "${params.nf_home}/singularity_img/rbase_v4.1.0.2.sif"
                cpus = 2
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {32.GB * task.attempt}
                time = "24h"
            }
            withLabel: get_aa_bp {
                // https://hub.docker.com/r/namzoo/pythonforbp
                container = "${params.nf_home}/singularity_img/pythonforbp_v0.1555.2.sif"
                cpus = 2
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {32.GB * task.attempt}
                time = "24h"
            }
            //######################################
            //
            //  svaba
            //
            //######################################
            withLabel: svaba {
                container = "${params.nf_home}/singularity_img/svaba_r4.sif"
                cpus = 8
                memory = "32GB"
                time = "24h"
            }  
